<%- layout('layout/main.ejs')%>
<form class="" action="/signin" method="post">
    <div class="form-group">
        <input type="email" name="email" placeholder="Correo electronico:" class="form-control">
    </div>
    <div class="form-group">
        <input type="password" name="pass" placeholder="Contraseña:" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">
        Login
    </button>
</form>
